@{
    ViewData["Title"] = "Home Page";
}

<section id="home-section" class="section-home">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="button-group">
                    <a asp-controller="SignIn" id="signIn-button" class="button-home button-home--signIn">Logowanie</a>
                    <a asp-controller="SignUp" id="signUp-button" class="button-home button-home--signUp">Rejestracja</a>
                </div>
            </div>
        </div>
    </div>
</section>